{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json?max_id=624270020214964224","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 17:55:11 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["94917c501fefe6e7649b681109699cd9"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["12"], "X-Rate-Limit-Reset":["1437674704"], "X-Response-Time":["166"], "X-Transaction":["bd1e7c37aeba61b7"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 17:29:05 +0000 2015\",\"id\":624270020214964224,\"id_str\":\"624270020214964224\",\"text\":\"PHOTOS: The #Soyuz spacecraft heads to the space station. http:\\/\\/t.co\\/ulezEna9Mk http:\\/\\/t.co\\/eRwNHYRmqg\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.socialflow.com\\\" rel=\\\"nofollow\\\"\\u003eSocialFlow\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":1652541,\"id_str\":\"1652541\",\"name\":\"Reuters Top News\",\"screen_name\":\"Reuters\",\"location\":\"Around the world\",\"description\":\"Top and breaking news, pictures, and videos from Reuters.\",\"url\":\"http:\\/\\/t.co\\/BmHxhkm3Mh\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/BmHxhkm3Mh\",\"expanded_url\":\"http:\\/\\/www.reuters.com\",\"display_url\":\"reuters.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":7780046,\"friends_count\":1041,\"listed_count\":93762,\"created_at\":\"Tue Mar 20 17:46:05 +0000 2007\",\"favourites_count\":836,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":true,\"statuses_count\":124242,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":true,\"profile_background_color\":\"444444\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/735542174\\/340f8869cdcabbcc436096587143cc38.png\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/735542174\\/340f8869cdcabbcc436096587143cc38.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/3379693153\\/1008914c0ae75c9efb5f9c0161fce9a2_normal.png\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/3379693153\\/1008914c0ae75c9efb5f9c0161fce9a2_normal.png\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/1652541\\/1437425593\",\"profile_link_color\":\"006F97\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"F5F5F5\",\"profile_text_color\":\"000000\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":83,\"favorite_count\":90,\"entities\":{\"hashtags\":[{\"text\":\"Soyuz\",\"indices\":[12,18]}],\"symbols\":[],\"user_mentions\":[],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/ulezEna9Mk\",\"expanded_url\":\"http:\\/\\/reut.rs\\/1HLD6SD\",\"display_url\":\"reut.rs\\/1HLD6SD\",\"indices\":[58,80]}],\"media\":[{\"id\":624270018226835461,\"id_str\":\"624270018226835461\",\"indices\":[81,103],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/CKnaRihWUAU_puD.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/CKnaRihWUAU_puD.jpg\",\"url\":\"http:\\/\\/t.co\\/eRwNHYRmqg\",\"display_url\":\"pic.twitter.com\\/eRwNHYRmqg\",\"expanded_url\":\"http:\\/\\/twitter.com\\/Reuters\\/status\\/624270020214964224\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"small\":{\"w\":340,\"h\":245,\"resize\":\"fit\"},\"large\":{\"w\":800,\"h\":578,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"medium\":{\"w\":600,\"h\":433,\"resize\":\"fit\"}}}]},\"extended_entities\":{\"media\":[{\"id\":624270018226835461,\"id_str\":\"624270018226835461\",\"indices\":[81,103],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/CKnaRihWUAU_puD.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/CKnaRihWUAU_puD.jpg\",\"url\":\"http:\\/\\/t.co\\/eRwNHYRmqg\",\"display_url\":\"pic.twitter.com\\/eRwNHYRmqg\",\"expanded_url\":\"http:\\/\\/twitter.com\\/Reuters\\/status\\/624270020214964224\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"small\":{\"w\":340,\"h\":245,\"resize\":\"fit\"},\"large\":{\"w\":800,\"h\":578,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"medium\":{\"w\":600,\"h\":433,\"resize\":\"fit\"}}},{\"id\":624270019480920064,\"id_str\":\"624270019480920064\",\"indices\":[81,103],\"media_url\":\"http:\\/\\/pbs.twimg.com\\/media\\/CKnaRnMWIAA540-.jpg\",\"media_url_https\":\"https:\\/\\/pbs.twimg.com\\/media\\/CKnaRnMWIAA540-.jpg\",\"url\":\"http:\\/\\/t.co\\/eRwNHYRmqg\",\"display_url\":\"pic.twitter.com\\/eRwNHYRmqg\",\"expanded_url\":\"http:\\/\\/twitter.com\\/Reuters\\/status\\/624270020214964224\\/photo\\/1\",\"type\":\"photo\",\"sizes\":{\"small\":{\"w\":340,\"h\":224,\"resize\":\"fit\"},\"thumb\":{\"w\":150,\"h\":150,\"resize\":\"crop\"},\"large\":{\"w\":800,\"h\":529,\"resize\":\"fit\"},\"medium\":{\"w\":600,\"h\":396,\"resize\":\"fit\"}}}]},\"favorited\":false,\"retweeted\":true,\"possibly_sensitive\":false,\"possibly_sensitive_appealable\":false,\"lang\":\"en\"},{\"created_at\":\"Thu Jul 23 17:27:03 +0000 2015\",\"id\":624269505984905216,\"id_str\":\"624269505984905216\",\"text\":\"#RecallAlert: The saddlebag on your hog could put you at greater risk for a crash: http:\\/\\/t.co\\/cqee4p1evL http:\\/\\/t.co\\/eS5izyC39X\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.socialflow.com\\\" rel=\\\"nofollow\\\"\\u003eSocialFlow\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"i[...]
