{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json?since_id=624270020214964224","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 17:53:29 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["e80c486753d3ef6abcaaba076f76f46a"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["13"], "X-Rate-Limit-Reset":["1437674704"], "X-Response-Time":["134"], "X-Transaction":["6de754766c85590c"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 17:52:17 +0000 2015\",\"id\":624275856660131840,\"id_str\":\"624275856660131840\",\"text\":\"Tour @hbarnes home Ames, Iowa w\\/ @rosenbergradio in new episode of #NBA1on1 pres. by @sprint! http:\\/\\/t.co\\/ahfPNfSo8F\\nhttps:\\/\\/t.co\\/vzfYRQtXHD\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":19923144,\"id_str\":\"19923144\",\"name\":\"NBA\",\"screen_name\":\"NBA\",\"location\":\"\",\"description\":\"News and notes directly from the National Basketball Association.\",\"url\":\"http:\\/\\/t.co\\/sT8h1uaARA\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/sT8h1uaARA\",\"expanded_url\":\"http:\\/\\/NBA.com\",\"display_url\":\"NBA.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":16277135,\"friends_count\":1420,\"listed_count\":41424,\"created_at\":\"Mon Feb 02 19:04:42 +0000 2009\",\"favourites_count\":77,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":true,\"statuses_count\":109369,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":true,\"profile_background_color\":\"003969\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/468178152976433152\\/6er8LSdY.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/468178152976433152\\/6er8LSdY.jpeg\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/532617697905766400\\/8GMNsRg3_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/532617697905766400\\/8GMNsRg3_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/19923144\\/1437481582\",\"profile_link_color\":\"FF0303\",\"profile_sidebar_border_color\":\"000000\",\"profile_sidebar_fill_color\":\"FFFFFF\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":false,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":10,\"favorite_count\":12,\"entities\":{\"hashtags\":[{\"text\":\"NBA1on1\",\"indices\":[67,75]}],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"hbarnes\",\"name\":\"Harrison Barnes\",\"id\":555393138,\"id_str\":\"555393138\",\"indices\":[5,13]},{\"screen_name\":\"Rosenbergradio\",\"name\":\"Peter Rosenberg\",\"id\":8318902,\"id_str\":\"8318902\",\"indices\":[33,48]},{\"screen_name\":\"sprint\",\"name\":\"Sprint\",\"id\":14626738,\"id_str\":\"14626738\",\"indices\":[85,92]}],\"urls\":[{\"url\":\"http:\\/\\/t.co\\/ahfPNfSo8F\",\"expanded_url\":\"http:\\/\\/NBA.com\\/1on1\",\"display_url\":\"NBA.com\\/1on1\",\"indices\":[94,116]},{\"url\":\"https:\\/\\/t.co\\/vzfYRQtXHD\",\"expanded_url\":\"https:\\/\\/amp.twimg.com\\/v\\/05b5b2e6-beb3-4d47-8d7f-d7265717553e\",\"display_url\":\"amp.twimg.com\\/v\\/05b5b2e6-beb\\u2026\",\"indices\":[117,140]}]},\"favorited\":false,\"retweeted\":false,\"possibly_sensitive\":false,\"possibly_sensitive_appealable\":false,\"lang\":\"en\"},{\"created_at\":\"Thu Jul 23 17:50:40 +0000 2015\",\"id\":624275451570208769,\"id_str\":\"624275451570208769\",\"text\":\"RT @Vernon_Odom: The 5 democrats who lost to Jim Kenney in the mayoral primary formally endorse him in the November general election. http:\\u2026\",\"source\":\"\\u003ca href=\\\"https:\\/\\/about.twitter.com\\/products\\/tweetdeck\\\" rel=\\\"nofollow\\\"\\u003eTweetDeck\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply[...]
