{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/update.json","body":{"encoding":"UTF-8","string":"in_reply_to_status_id=624270020214964224\u0026status=%40Reuters+Great%21"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 17:41:45 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["3be96000942885eba590268dd3c918c9"], "X-Response-Time":["181"], "X-Transaction":["78ccd7de91384f79"], "X-Tsa-Request-Body-Time":["3"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"created_at\":\"Thu Jul 23 17:41:44 +0000 2015\",\"id\":624273204002058241,\"id_str\":\"624273204002058241\",\"text\":\"@Reuters Great!\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003eAPI Curious - Test\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":624270020214964224,\"in_reply_to_status_id_str\":\"624270020214964224\",\"in_reply_to_user_id\":1652541,\"in_reply_to_user_id_str\":\"1652541\",\"in_reply_to_screen_name\":\"Reuters\",\"user\":{\"id\":3288881262,\"id_str\":\"3288881262\",\"name\":\"Josh\",\"screen_name\":\"devjoshdev\",\"location\":\"\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3,\"friends_count\":40,\"listed_count\":0,\"created_at\":\"Thu Jul 23 14:57:07 +0000 2015\",\"favourites_count\":0,\"utc_offset\":-25200,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":3,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_2_normal.png\",\"profile_image_url_https\":\"https:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_2_normal.png\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/3288881262\\/1437665401\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":true,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"Reuters\",\"name\":\"Reuters Top News\",\"id\":1652541,\"id_str\":\"1652541\",\"indices\":[0,8]}],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 17:41:44 GMT"}],"recorded_with":"VCR 2.9.3"}