{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/retweet/624270020214964224.json","body":{"encoding":"UTF-8","string":""},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 17:36:38 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["0cde0cdbf38817bc9ea6029e5c0bff68"], "X-Response-Time":["562"], "X-Transaction":["a900f2327ff36380"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"created_at\":\"Thu Jul 23 17:36:37 +0000 2015\",\"id\":624271914723377152,\"id_str\":\"624271914723377152\",\"text\":\"RT @Reuters: PHOTOS: The #Soyuz spacecraft heads to the space station. http:\\/\\/t.co\\/ulezEna9Mk http:\\/\\/t.co\\/eRwNHYRmqg\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003eAPI Curious - Test\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":3288881262,\"id_str\":\"3288881262\",\"name\":\"Josh\",\"screen_name\":\"devjoshdev\",\"location\":\"\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":3,\"friends_count\":40,\"listed_count\":0,\"created_at\":\"Thu Jul 23 14:57:07 +0000 2015\",\"favourites_count\":0,\"utc_offset\":-25200,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":2,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_2_normal.png\",\"profile_image_url_https\":\"https:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_2_normal.png\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/3288881262\\/1437665401\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":true,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Thu Jul 23 17:29:05 +0000 2015\",\"id\":624270020214964224,\"id_str\":\"624270020214964224\",\"text\":\"PHOTOS: The #Soyuz spacecraft heads to the space station. http:\\/\\/t.co\\/ulezEna9Mk http:\\/\\/t.co\\/eRwNHYRmqg\",\"source\":\"\\u003ca href=\\\"http:\\/\\/www.socialflow.com\\\" rel=\\\"nofollow\\\"\\u003eSocialFlow\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":1652541,\"id_str\":\"1652541\",\"name\":\"Reuters Top News\",\"screen_name\":\"Reuters\",\"location\":\"Around the world\",\"description\":\"Top and breaking news, pictures, and videos from Reuters.\",\"url\":\"http:\\/\\/t.co\\/BmHxhkm3Mh\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/BmHxhkm3Mh\",\"expanded_url\":\"http:\\/\\/www.reuters.com\",\"display_url\":\"reuters.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":7779745,\"friends_count\":1041,\"listed_count\":93755,\"created_at\":\"Tue Mar 20 17:46:05 +0000 2007\",\"favourites_count\":836,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":true,\"statuses_count\":124241,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":true,\"profile_background_color\":\"444444\",\"profile[...]
