{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/search/tweets.json?count=100\u0026q=@joshcass","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 20:14:07 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["e3c63bbee9729c8ed0ca447381272f87"], "X-Rate-Limit-Limit":["180"], "X-Rate-Limit-Remaining":["179"], "X-Rate-Limit-Reset":["1437683347"], "X-Response-Time":["53"], "X-Transaction":["027decb9656d42e8"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"statuses\":[{\"metadata\":{\"iso_language_code\":\"en\",\"result_type\":\"recent\"},\"created_at\":\"Wed Jul 22 21:35:01 +0000 2015\",\"id\":623969521120903168,\"id_str\":\"623969521120903168\",\"text\":\"@joshcass It's not working\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":623969437092151296,\"in_reply_to_status_id_str\":\"623969437092151296\",\"in_reply_to_user_id\":15151287,\"in_reply_to_user_id_str\":\"15151287\",\"in_reply_to_screen_name\":\"joshcass\",\"user\":{\"id\":196947391,\"id_str\":\"196947391\",\"name\":\"Justin Holmes\",\"screen_name\":\"_JustinHolmes\",\"location\":\"Denver, CO\",\"description\":\"Loading...\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":54,\"friends_count\":65,\"listed_count\":1,\"created_at\":\"Thu Sep 30 08:41:07 +0000 2010\",\"favourites_count\":10,\"utc_offset\":null,\"time_zone\":null,\"geo_enabled\":false,\"verified\":false,\"statuses_count\":10,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/590587757736697858\\/QxECywgX_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/590587757736697858\\/QxECywgX_normal.jpg\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[{\"screen_name\":\"joshcass\",\"name\":\"Josh\",\"id\":15151287,\"id_str\":\"15151287\",\"indices\":[0,9]}],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}],\"search_metadata\":{\"completed_in\":0.033,\"max_id\":623969521120903168,\"max_id_str\":\"623969521120903168\",\"query\":\"%40joshcass\",\"refresh_url\":\"?since_id=623969521120903168\u0026q=%40joshcass\u0026include_entities=1\",\"count\":100,\"since_id\":0,\"since_id_str\":\"0\"}}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 20:14:07 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 20:14:08 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["041ee690b12e718482f94c9c0a64cfdc"], "X-Rate-Limit-Li[...]
