{"http_interactions":[{"request":{"method":"get","uri":"https://api.twitter.com/1.1/account/verify_credentials.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:24:37 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["0c1bccdaf635ba50e991cc976b122117"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["12"], "X-Rate-Limit-Reset":["1437668729"], "X-Response-Time":["27"], "X-Transaction":["c25c0266f8c22272"], "X-Twitter-Response-Tags":["BouncerCompliant","BouncerExempt"]},"body":{"encoding":"ASCII-8BIT","string":"{\"id\":3288881262,\"id_str\":\"3288881262\",\"name\":\"Josh\",\"screen_name\":\"devjoshdev\",\"location\":\"\",\"description\":\"\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":2,\"friends_count\":40,\"listed_count\":0,\"created_at\":\"Thu Jul 23 14:57:07 +0000 2015\",\"favourites_count\":0,\"utc_offset\":-25200,\"time_zone\":\"Pacific Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":0,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme1\\/bg.png\",\"profile_background_tile\":false,\"profile_image_url\":\"http:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_2_normal.png\",\"profile_image_url_https\":\"https:\\/\\/abs.twimg.com\\/sticky\\/default_profile_images\\/default_profile_2_normal.png\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/3288881262\\/1437665401\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":true,\"default_profile_image\":true,\"following\":false,\"follow_request_sent\":false,\"notifications\":false}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 16:24:37 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:24:37 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["be0433a461e3c130c3c026d274436f76"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["13"], "X-Rate-Limit-Reset":["1437668796"], "X-Response-Time":["88"], "X-Transaction":["acd0dc551b6b9392"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 16:24:25 +0000 2015\",\"id\":624253745539510275,\"id_str\":\"624253745539510275\",\"text\":\"RT @bae_lay: Finally, @taylorswift13 apologized to @NICKIMINAJ. Was it too little too late? http:\\/\\/t.co\\/I8xaAJtUZ7 http:\\/\\/t.co\\/SMtpGHoDJk\",\"source\":\"\\u003ca href=\\\"https:\\/\\/about.twitter.com\\/products\\/tweetdeck\\\" rel=\\\"nofollow\\\"\\u003eTweetDeck\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":14221917,\"id_str\":\"14221917\",\"name\":\"Philly.com\",\"screen_name\":\"phillydotcom\",\"location\":\"Philadelphia, PA\",\"description\":\"Follow for news and conversation about our daily content\\u2014including articles from @PhillyInquirer and @PhillyDailyNews\\u2014and RTs of our journalists.\",\"url\":\"http:\\/\\/t.co\\/GLKE1fy09Y\",\"entities\":{\"url\":{\"urls\":[{\"url\":\"http:\\/\\/t.co\\/GLKE1fy09Y\",\"expanded_url\":\"http:\\/\\/www.philly.com\",\"display_url\":\"philly.com\",\"indices\":[0,22]}]},\"description\":{\"urls\":[]}},\"protected\":false,\"followers_count\":123205,\"friends_count\":1492,\"listed_count\":1856,\"created_at\":\"Wed Mar 26 01:57:54 +0000 2008\",\"favourites_count\":322,\"utc_offset\":-14400,\"time_zone\":\"Eastern Time (US \u0026 Canada)\",\"geo_enabled\":true,\"verified\":true,\"statuses_count\":91002,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"131516\",\"profile_background_image_url\":\"http:\\/\\/abs.twimg.com\\/images\\/themes\\/theme14\\/bg.gif\",\"profile_background_image_url_https\":\"https:\\/\\/abs.twimg.com\\/images\\/themes\\/theme14\\/bg.gif\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/378800000334477097\\/331296ac037eafe39f0d590907eaa6da_normal.jpeg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/378800000334477097\\/331296ac037eafe39f0d590907eaa6da_normal.jpeg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/14221917\\/1377117740\",\"profile_link_color\":\"009999\",\"profile_sidebar_border_color\":\"EEEEEE\",\"profile_sidebar_fill_color\":\"EFEFEF\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":true,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"retweeted_status\":{\"created_at\":\"Thu Jul 23 16:23:54 +0000 2015\",\"id\":624253616082284545,\"id_str\":\"624253616082284545\",\"text\":\"Finally, @taylorswift13 apologized to @NICKIMINAJ. Was it too little too late? http:\\/\\/t.co\\/I8xaAJtUZ7 http:\\/\\/t.co\\/SMtpGHoDJk\",\"source\":\"\\u003ca href=\\\"http:\\/\\/twitter.com\\\" rel=\\\"nofollow\\\"\\u003eTwitter Web Client\\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,[...]
