<div class="container-fluid">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                User Info will go here
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">Tweet composer will go here</div>
            <div class="panel-body">
                Twitter activity will go here
            </div>
        </div>
    </div>
</div>
