<div class="container-fluid" style="background-image: url('<%= image_path 'welcome_bg.png' %>'); background-position: center; background-size: 100%" >
    <div class="text-center", style="padding-bottom: 100px; padding-top: 150px">
        <%= image_tag 'Twitter_logo_white_48.png'  %>
        <h1 class="white light">See what’s happening right now.</h1>
        <h3 class="white", style="opacity: .5; font-weight: 200;">Find community, conversation and inspiration about the things you love.</h3>
        <br>
        <br>
        <%= link_to "Login With Twitter", login_path, class: "btn btn-info btn-lg" %>
    </div>
</div>
